<footer class="container-fluid bg-dark">
	<div class="row">
		<section class="col text-light">Column 1</section>
		<section class="col text-light">Column 2</section>
		<section class="col text-light">Column 3</section>
	</div>
</footer>
