<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/favicon/favicon-Sf6.png')}}">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">


		<!-- TailwindCSS -->
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- Links CSS -->
		{% block stylesheets %}{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

		<!-- JS Files -->
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/main.js') }}" defer></script>

	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
